<h1>Allow me to be nosey... </h1>
<p>I am asking you...</p>

<form action="/answer">

  <label for="question1">What is your name? </label>
  <input type="text" id="question1" name="name" placeholder="quien eres?">
  <br>

  <label for="question2">How old are you?</label>
  <input type="text" id="question2" name="age" placeholder="cuantos?">
  <br>

 <label for="question3">Where do you live?</label>
  <input type="text" id="question3" name="address" placeholder="donde?">
  <br>

  <input type="submit" value="Tell me the truth!">
</form>
